<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LangWeil - Despre </title>
    <meta name="description"
        content="Istoricul si descrierea site-ului.">
    <meta name="keywords"
        content="alte chestii aci lalalala">
    <%- include('../fragmente/head.ejs') %>    
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
        A doua pagina a site-ului.
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>