<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LangWeil - Despre </title>
    <meta name="description"
        content="Istoricul si descrierea site-ului.">
    <meta name="keywords"
        content="alte chestii aci lalalala">
    <%- include('../fragmente/head.ejs') %>    
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
        <h2 class="titlu">Despre LangWeil</h2>
                <article>
                    <h3 class="subtitlu">Limbile oferite</h3>
                    <p><b>LangWeil</b> are momentan doar trei limbi pentru care ofera materiale de invatat:</p>
                    <blockquote>
                        <ul>
                            <li>Germana/<i lang="de"><em>Deutsch</em></i></li>
                            <li>Engleza/<i lang="en"><em>English</em></i></li>
                            <li>Japoneza/<i lang="ja"><em>日本語</em></i></li>
                        </ul>
                    </blockquote>
                    <p><b>LangWeil</b> momentan lucreaza la implementarea a mai multor limbi, uitati aici progresul
                        nostru:
                    </p>
                    <blockquote>
                        <label for="korean">Coreeana/<i lang="ko">한국어</i></label>
                        <meter id="korean" value="8" min="0" max="10">8 out of 10</meter>
                        <label for="portuguese">Portugheza/<i lang="pt">Português</i></label>
                        <meter id="portuguese" value="0.2">20%</meter>
                    </blockquote>
                    <h3 class="subtitlu">Ce oferim</h3>
                    <b>LangWeil</b> ofera lectii care apoi sunt repetate pentru a invata vocabular englez, german sau
                    japonez.
                    De asemenea, oferim materiale precum ghiduri de gramatica si de alfabet.
                    <aside><em>(ghidul de alfabet este in cazul limbii japoneze).</em></aside>
                    Daca tot nu va ajunge, avem si meditatori cu experienta care pot preda lectii personale in engleza,
                    japoneza si germana.
                    <h3 class="subtitlu">Cum functioneaza</h3>
                    <p>Pentru a incepe e simplu. Apasati pe linkul catre pagina de Lectii.</p>
                    <p>De acolo puteti alege una dintre limbile engleza, germana si japoneza, sau chiar toate trei.</p>
                    <p>Dupa ce ati facut lectia L1, va intoarceti la pagina principala sa accesati linkul catre Review
                        pentru a face R1.</p>
                    <aside>
                        Desi este <em>teoretic</em> permis, nu recomandam sa sariti ordinea.
                    </aside>
                    <p>Alternand Lectii si Review, veti ajunge sa cuprindeti repede limba respectiva.</p>
                </article>
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>