<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LangWeil - Galerie </title>
    <meta name="description"
        content="O galerie a produselor noastre.">
    <meta name="keywords"
        content="manuale, produse, limbi straine, carti, invatare, educational">
    <%- include('../fragmente/head.ejs') %>    
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
        <%- include('../fragmente/galerie.ejs') %>    
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>