html {
    font-family: Oswald;
    font-size: 16px;
    transition: font-size 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: Oswald;
    font-weight: normal;
}

header {
    padding: 10px;
    border: 5px solid var(--culoare-contur);
    box-shadow: 1px 0px 5px var(--culoare-fundal);
    background-color: var(--culoare-hover);
}

body {
    --culoare-fundal: #493be3;
    --culoare-contur: #3be3c1;
    --culoare-text: #dfebf5;
    --culoare-highlight: #3bcde5;
    --culoare-hover: #3b62e3;
    --margine-pagina: 120px;
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    font-family: Oswald, sans-serif;
    transition: var(--margine-pagina) 0.5s ease;
}

footer a {
    text-decoration: underline;
    text-decoration-color: var(--culoare-text);
    color: var(--culoare-highlight);
}

/*.link-resurse a {
    text-decoration: underline;
    text-decoration-color: var(--culoare-text);
    color: var(--culoare-highlight);
}*/

p {
    border: 1px solid var(--culoare-fundal);
}

footer {
    border-radius: 10px 10px 10px 10px;
    background-color: var(--culoare-highlight);
    background-color: var(--culoare-hover);
    color: var(--culoare-text);
    text-align: center;
    padding: 10px;
}

main {
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
    margin-bottom: 10px;
    margin-top: 10px;
}


#grid-pagina>* {
    border: 1px solid var(--culoare-contur);
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 10px;
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
}

#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "welcome welcome welcome"
        "user data-user data-site"
        "calendar orar orar"
        "anunturi orar orar"
        "resurse resurse resurse"
        /* pentru a evita problema nealocarii gridurilor, asta e toata zona 8 */
        "faq faq faq"
        "istoric istoric istoric"
        "galerie-statica galerie-statica galerie-statica";
}

#welcome {
    grid-area: welcome;
}

#user {
    grid-area: user;
}

#data-user {
    grid-area: data-user;
}

#data-site {
    grid-area: data-site;
}

#calendar {
    grid-area: calendar;
}

#orar {
    grid-area: orar;
}

#anunturi {
    grid-area: anunturi;
}

#resurse {
    grid-area: resurse;
}

#faq {
    grid-area: faq;
}

#istoric {
    grid-area: istoric;
}

#galerie-statica {
    grid-area: galerie-statica;
}

#grid-galerie {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10px;
    counter-reset: galerie-index;
}

.empty-cell {
    background: transparent;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

#grid-galerie figure {
    margin: 0;
    padding: 0;
    counter-increment: galerie-index;
    transition: none;
}

#grid-galerie figure img {
    transition: filter 1.1s ease;
    filter: contrast(1);
}

#grid-galerie figcaption {
    display: inline-block;
    transform-origin: center;
    transition: transform 1.1s ease;
}

#grid-galerie figcaption::before {
    content: counter(galerie-index, lower-greek) ". ";
    font-weight: bold;
}

#grid-galerie figure:hover img {
    filter: contrast(2);
}

#grid-galerie figure:hover figcaption {
    transform: scale(1.2);
}


figure {
    margin: 0;
}

figure.fg-img>img {
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    min-width: 50%;
    height: auto;
}

.container-iframe {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    height: auto;
    gap: 0;
}

.video-iframe {
    max-width: 100%;
    height: auto;
}

/*stilizare video vtt*/
.container-video {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

video {
    width: 100%;
    min-width: 280px;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px var(--culoare-contur);
    background: var(--culoare-fundal);
}

::cue {
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
    text-shadow: none;
    white-space: pre-wrap;
}

::cue(i) {
    font-style: italic
}

.taburi-iframe {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.taburi-iframe>a {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(to bottom, var(--culoare-fundal)0%, var(--culoare-contur)100%);
    border: 2px solid var(--culoare-contur);
    border-left: 4px solid var(--culoare-contur);
    color: var(--culoare-text);
    text-decoration: none;
    text-shadow: 2px 0px 5px var(--culoare-highlight);
    border-top-left-radius: 0;
    border-top-right-radius: 45px;
    margin-right: 10px;
    transition: all 1s linear;
}

.taburi-iframe>a:hover {
    background-color: var(--culoare-contur);
    color: var(--culoare-hover);
    border-left-color: (var(--culoare-hover));
}

@media screen and (max-width:1200px) {
    html {
        font-size: 14px;
    }

    body {
        --margine-pagina: 80px;
    }

    main {
        margin-left: var(--margine-pagina);
        margin-right: var(--margine-pagina);
    }

    #table-container {
        overflow-x: auto;
    }

    /* teoretic nu respecta layoutul fiindca 
        acum nu mai sunt trei elemente pe randul 2
        dar e un compromis ca orar sa nu para taiat
        si consider ca justifica schimbarea layoutului */
    #grid-pagina {
        gap: 8px;
        grid-template-columns: 0.5fr 2fr;
        grid-template-areas: "welcome welcome"
            "user data-user"
            "data-site orar"
            "calendar orar"
            "anunturi orar"
            "resurse resurse"
            "faq faq"
            "istoric istoric"
            "galerie-statica galerie-statica";
    }

    #grid-galerie {
        grid-template-columns: repeat(2, 1fr);
    }

    .empty-cell {
        display: none;
    }
}

@media screen and (max-width:700px) {
    html {
        font-size: 12px;
    }

    body {
        --margine-pagina: 50px;
        animation: none;
        transition: none;
    }

    main {
        margin-left: 0;
        margin-right: 0;
    }

    #grid-pagina {
        gap: 5px;
        display: block;
    }

    #grid-galerie {
        grid-template-columns: 1fr;
    }
}

#tab-orar {
    border-spacing: 5px;
    border-collapse: collapse;
    caption-side: bottom;
}

#tab-orar,
#tab-orar td,
#tab-orar th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#tab-orar tbody td:nth-child(even) {
    background-color: var(--culoare-hover);
}

#tab-orar tbody td:nth-child(odd) {
    background-color: var(--culoare-fundal);
}

#tab-orar tbody td.exceptie-tabel {
    background-color: var(--culoare-fundal)
}

tr td {
    transition: all 0.75s linear;
    ;
    border: 1px solid var(--culoare-contur);
    background-color: var(--culoare-fundal)
}

tr:hover td {
    background-color: var(--culoare-hover) !important;
    color: var(--culoare-highlight);
    border-width: 5px;
}

tr:hover td.exceptie-tabel {
    background-color: var(--culoare-fundal) !important;
    color: var(--culoare-text);
}


#link-top {
    position: fixed;
    bottom: 0.3em;
    right: 0.3em;
    opacity: 0.5;
    left: 0.3em;
    width: 3rem;
    height: 3rem;
    transform: rotate(45deg);
    line-height: 3rem;
    text-align: center;
    border: 5px solid var(--culoare-contur);
    box-sizing: border-box;
    border-top-color: var(--culoare-highlight);
    background: rgb(220, 220, 220);
    opacity: 0.5;
    transition: 600ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#link-top:hover {
    opacity: 1;
    background-color: var(--culoare-highlight);
    border-color: var(--culoare-hover);
}

#triunghi {
    height: 0px;
    width: 0;
    display: inline-block;
    border-bottom: 1.5rem solid var(--culoare-contur);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: border-bottom-color 0.5s ease;
    vertical-align: top;
}

#link-top:hover #triunghi {
    border-bottom-color: var(--culoare-text);
}

hr.stilizat {
    border: none;
    height: 22px;
    background: repeating-linear-gradient(to bottom,
            var(--culoare-text) 0px,
            var(--culoare-text) 2px,
            transparent 2px,
            transparent 5px);
    border-radius: 2px;
    margin: 2rem auto;
    width: 80%;
}

#imagine {
    position: relative;
    background-image: url("/resurse/imagini/thumbnail.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: all 2s linear;
}

#imagine:after,
#imagine:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    transition: all 2s linear;
}

#imagine:after {
    background-color: #f4a0b6;
    /* aleg culori in afara schemei pentru estetica doar */
    mix-blend-mode: multiply;
}

#imagine:before {
    background-color: #ffcece;
    mix-blend-mode: screen;
}

#imagine:hover::before {
    background-color: #d65c8c;
}

#imagine:hover::after {
    background-color: #e6c8ff;
}

.ref-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#text-reflectat {
    position: static;
    transform-origin: 0 0;
    transform: rotateX(180deg) skewY(-25deg) scaleX(-1) translate(-38px, -30px);
    opacity: 0.55;
}

#text {
    position: relative;
    transform: skewY(-25deg);
}

#text,
#text-reflectat {
    font-size: 20px;
    font-weight: bold;
    transition: color 3s ease;
}

.ref-container:hover #text,
.ref-container:hover #text-reflectat {
    color: var(--culoare-highlight);
}

/* arata destul de groaznic dar ma rog... */
@media print {
    footer .banner {
        position: absolute;
        display: inline-block;
        bottom: 0cm;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        text-align: center;
        border: 4px inset black;
        background: white;
        padding: 5px;
        z-index: 10;
    }

    img,
    video,
    iframe,
    audio,
    figure,
    figcaption,
    .taburi-iframe,
    a[href="#"] {
        display: none !important;
    }

    #grid-pagina,
    main {
        display: block;
    }

    a {
        color: black !important;
        text-decoration: none !important;
        background: none !important;
    }

    h1 {
        text-align: center;
        page-break-before: always;
    }

    h1:first-of-type {
        page-break-before: avoid;
    }

    nav ul.meniu {
        display: block !important;
        list-style-type: disc;
        padding-left: 20px;
    }

    nav ul.meniu li {
        display: list-item !important;
        float: none !important;
        width: auto !important;
        clip-path: none !important;
    }

    nav ul.meniu li ul {
        display: none !important;
    }

    footer {
        page-break-before: always;
    }

    body::after {
        content: "Dobre\a Mihnea-Alexandru";
        white-space: pre;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 4cm;
        height: 1cm;
        border: 3px solid black;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        opacity: 0.4;
        font-size: 10pt;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        z-index: 100;
    }

    @page :left {
        margin-left: 3cm;
        margin-right: 1cm;
    }

    @page :right {
        margin-left: 1cm;
        margin-right: 3cm;
    }
}