<header>
<h1><b>LangWeil</b><i class="fa-solid fa-earth-americas fa-fade" style="--fa-animation-duration: 2s;"></i></h1>
        <nav>
            <label id="hamburger" for="ch-menu">
                <i class="fa-solid fa-bars"></i>
            </label>
            <input type="checkbox" id="ch-menu" />
            <ul class="meniu">
                <li>
                    <div class="text-icon" id="acasa">Home</div>
                    <div class="imag-icon" id="acasa-mediu">
                        <i class="fas fa-regular fa-house"></i>
                    </div>
                    <ul>
                        <li><a href="index#welcome">Bine ati venit</a></li>
                        <li><a href="index#orar">Orar</a></li>
                        <li><a href="index#user">Userii nostri</a></li>
                        <li><a href="index#data-user">Date user</a></li>
                        <li><a href="index#data-site">Date site</a></li>
                        <li><a href="index#calendar">Calendar</a></li>
                        <li><a href="index#anunturi">Anunturi</a></li>
                        <li><a href="index#resurse">Resurse</a></li>
                        <li><a href="index#istoric">Istoric</a></li>
                        <li><a href="index#faq">FAQ</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#subsol">
                        <div class="text-icon">Inregistrare</div>
                        <div class="imag-icon"><i class="fas fa-solid fa-book"></i></div>
                    </a>
                </li>
                <li>
                    <a href="despre">
                        <div class="text-icon">Despre</div>
                        <div class="imag-icon"><i class="fa-solid fa-question"></i></div></a>
                        <ul>
                            <li><a href="despre#prezentare">Prezentare</a></li>
                            <li><a href="despre#limbi_oferite">Limbi</a></li>
                            <li><a href="despre#motivatie">Motivatie</a></li>
                            <li><a href="despre#limbi">Limbi noi</a></li>
                        </ul>
                </li>
                <li>
                    <div class="text-icon">Resurse</div>
                    <div class="imag-icon"><i class="fa-solid fa-download"></i></div>
                    <ul>
                        <li><a href="#">Toate</a></li>
                        <li><a href="#">Manuale</a></li>
                        <li><a href="#">Profesori</a></li>
                        <li><a href="#">Ghiduri</a></li>
                        <li><a href="#">Alte resurse</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#subsol">
                        <div class="text-icon">Contact</div>
                        <div class="imag-icon"><i class="fa-regular fa-envelope"></i></div>
                    </a>
                </li>
            </ul>
        </nav>
</header>