<header>
<h1><b>LangWeil</b><i class="fa-solid fa-earth-americas fa-fade" style="--fa-animation-duration: 2s;"></i></h1>
        <nav>
            <ul class="sectiuni">
                <li>
                    <div id="home">Acasa</div>
                    <ul>
                        <li><a href="#welcome">Bine ati venit</a></li>
                        <li><a href="#istoric">Istoric</a></li>
                        <li><a href="#orar">Orar</a></li>
                        <li><a href="#resurse">Resurse</a></li>
                        <li><a href="#video">Videoclipuri utile</a></li>
                        <li><a href="#subsol">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <div id="pagini">Pagini principale</div>
                    <ul>
                        <li><a href="lectii.html">Lectii</a></li>
                        <li><a href="review.html">Review</a></li>
                        <li><a href="manual.html">Manual</a></li>
                        <li><a href="coaching.html">Coaching</a></li>
                        <li><a href="community.html">Comunitate</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
</header>